*{
    margin: 0;
    padding: 0;

    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #141414;
    color: #fff;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.netflix-logo{
    width: 120px;
    margin-right: 130px;
}

.names{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first-name{
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.name{
    margin-left: 15px;
    color: #E5E5E5;
    font-size: 13px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.name:hover,
.first-name:hover{
    color:  #E50914;
}

.user-side{
    display: flex;
    align-items: center;
    position: absolute;
    right: 0%;
}

.header-icon{
    width: 13px;
    margin-right: 12px;
    cursor: pointer;
}

.only-text{
    font-size: 12px;
    margin-right: 12px;
}

.first-section{
    background-image: url('images/MoviePoster.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #100f0f;
}

.first-section-text{
    position: absolute;
    top: 25%;
    left: 5%;
}

.movie-name{
    width: 250px;
}

.top-badge{
    width: 25px;
    margin-right: 10px;
}

.rating-text{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.text-text{
    width: 400px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.play{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid;
    padding: 7px 17px;
    margin-right: 10px;
    background-color: #fff;
    color: #000;
}

.play-2{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid;
    padding: 5px 7px;
    background-color: transparent;
    padding: 7px 17px;
}

.play-icons{
    width: 20px;
    margin-right: 10px;
}

.first-section-hot-movies{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 570px;
    padding-left: 30px;
    padding-right: 30px;
}

.text-header-section1{
    color: #E5E5E5;
}

.hot{
    width: 1020px;
    margin: 0 auto;
}

.the-hot-movies{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie-poster-1{
    width: 180px;
    margin-right: 7px;
    margin-top: 10px;
}

.first-section-movies{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
}
.footer{
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    outline: none;
}

.calls{
    color: #757575;
    font-size: 13px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    outline: none;
}

.grid-item {
    width: calc(100% / 4);
    height: 100px; 
    color: #757575;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px; 
    font-size: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
}

.grid-item:hover{
    color: #E50914;
}

.langs{
    display: flex;
    align-items: center;
    justify-content: left;
    border: 1px solid #333333;
    padding: 10px;
    width: 120px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.langs:hover{
    border-color: #E50914;
}

.earth-sign{
    width: 20px;
}

.lang-name{
    padding-left: 10px;
    padding-right: 10px;
    color: #999999;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
}

.lang-name:hover{
    color: #E50914;
}

.down-arrow{
    width: 16px;
}

.netflix-india{
    font-size: 10px;
    color: #757575;
    margin-top: 30px;
}








/* Media Queries */

@media screen and (max-width: 375px) {
    .first-section{
        width: 100%;
        height: 508px;
        margin: 0;
        padding: 0;
    }
}
@media screen and (max-width: 425px) {
    .first-section {
        width: 100%;
        height: 480px;
    }
}
@media screen and (max-width: 768px) {
    .first-section {
        width: 100%;
        height: 512px;
    }
    
}
@media screen and (max-width: 1024px) {
    .first-section {
        width: 100%;
        height: 700px;
    }
}
@media screen and (max-width: 1440px) {
    .first-section {
        width: 100%;
        height: 700px;
    }
    .footer{
        padding-left: 30px;
        padding-right: 30px;
    }
    
}
@media screen and (max-width: 1023px) {
    .hot{
        width: 760px;
        margin: 0 auto;
    }
    .first-section-hot-movies{
        padding-top: 420px;
        padding-left: 30px;
        padding-right: 30px;
    }
    .movie-poster-1{
        width: 220px;
        margin-right: 7px;
    }
    .first-section{
        font-size: 13px;
    }
    .first-section-text{
        top: 20%;
    }
    .netflix-logo{
        margin-right: 50px;
    }
}

@media screen and (max-width: 767px) {
    .hot{
        width: 410px;
    }
    .first-section-hot-movies{
        padding-top: 405px;
    }
    .movie-poster-1{
        width: 150px;
        margin-right: 7px;
    }
    .first-section{
        font-size: 13px;
    }
    .netflix-logo{
        margin-bottom: 20px;
    }
    .footer{
        padding-left: 30px;
        padding-right: 30px;
    }
    .header{
        flex-direction: column;
        align-items: center;
    }
    .user-side{
        bottom: 5%;
        right: 30%;
    }
    .names{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 424px) {
    .hot{
        width: 310px;
    }
    .first-section-hot-movies{
        padding-top: 487px;
    }
    .movie-poster-1{
        width: 100px;
        margin-right: 7px;
    }
    .first-section{
        font-size: 13px;
    }
    .netflix-logo{
        margin-bottom: 20px;
    }
    .footer{
        padding-left: 30px;
        padding-right: 30px;
    }
    .header{
        flex-direction: column;
        align-items: center;
    }
    .user-side{
        bottom: 5%;
        right: 25%;
    }
    .names{
        margin-bottom: 30px;
    }
    .text-text{
        width: 300px;
    } .grid-item {
        width: calc(100% / 2);
        height: auto;
    }
}
